@extends('layouts.master')

@section('title', 'company.index Page Title')

@section('sidebar')

    @parent
    <p>company.index B.This is appended to the master sidebar.</p>
	
@stop

@section('content')

    <p>company.index This is my body content.</p>
	
@stop